.banner {
  background-color: #f0f5fa;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  text-align: center;
  height: 89vh; /* соответствует ТЗ */
}

.banner-img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 10px auto;
  border-radius: 12px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.banner-img:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 800px) {
  .banner-img {
    max-width: 100%;
  }
  .banner {
    height: auto; /* адаптивная высота для мобильной версии */
  }
}